*,*:before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.icons{
	width: 100%;
    padding: 20px;
    background: #000;
    color: lightgray;
    text-align: center;
}
.icons i.fa{
  	 
  	 border-right: 1px solid #fff;
  	 padding:0 20px 0 20px;
}
.icons i.fa:last-child {
	border: 0;
}
/*
==============================
DRYWEST
==============================
*/
 .heading{
	width: 100%;
	padding: 40px 60px 40px 60px;
	border-bottom: opx solid gray;
	
}
.heading h1{
	font: bold 40px/44px "Helvetica-neue",Helvetica,Arial,sans-serif;
	color: #1b1738;
}
.heading a{
	background: maroon;
	color: white;
	border: 1px solid gray;
	float: right;
	text-transform: uppercase;
	padding: 20px 25px;
	margin-top: -49px;
	text-decoration: none;
}
a:hover {
	background: #fff;
	color: #000;
}
/*
=================
image
==================
*/
.image{
	background-image: url("../image/pic.jpg");
	background-size: 100% 100%;
	background-color: skyblue;
}
.image nav{
	background: hsla(0, 0%, 93%, 0.8);
}
.image nav ul{
	padding: 10px 15px;
	text-align: center;
	font-size:22px;
}
.image nav ul li{
	padding: 15px 20px;
	display: inline-block;
	font:  20px/18px sans-serif;
	position: relative;
}
.image nav ul li ul{
	display: none;
	visibility: hidden;
	position: absolute;
	top: 57px;
	left: 0;
	width: 200px;
	background: rgb(0,0,0);
	color:#fff;
	text-align: left;
}
.image nav ul li:hover{
	color: red;
}
.image nav ul li:hover ul{
	display: block;
	visibility: visible;
	opacity: 1;

}
.image nav ul li ul li{
	position: relative;
} 
.image nav ul li ul li ul{
	display: none;
	visibility: hidden;
	position:absolute;
	left: 184px;
	top: 20px;
}
.image section.subject{
	text-align: center;
    padding: 100px 70px;
    padding-bottom: 175px;
}
.subject h1{
	font-size: 75px;
	font-weight: 400;
	color:#0ad0a4;
	margin-bottom: 20px;
}
.subject p{
	font: italic 18px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: .5px;
	margin-bottom: 70px;
	color: #874bf9;
    font-size: x-large;
}
.subject a{
	background: maroon;
	color: white;
	border: 1px solid gray;
	text-transform: uppercase;
	padding: 20px 25px;
	margin-bottom: 50px;
	text-decoration: none;
}
.subject a:hover{
	background: #fff;
	color: #000;
}
.phrase{
	width: 100%;
	background: blanchedalmond;
	
}
.phrase aside.sidebar{
	float: left;
	width: 40%;
	padding: 40px 50px;
}
.phrase section.right-section{
	display: inline-block;
	width:50%;
	padding: 40px 50px;
	margin-left: 130px
}
.right-section div.box{
	margin: 20px;
    width: 300px;
    float: left;
}
.phrase aside.sidebar h3{
	margin-bottom: 20px;
    margin-top: 10px;
    color: #ef0f0f;
    font-size: 20px;
    font-family: Georgia,"Times New Roman",Times,serif;
    text-transform: uppercase;
}
.sidebar p.font-fx{
	font-size: 15px;
}
.sidebar p.font-main{
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 20px;
}
.sidebar a.btn{
	border: 1px solid lightgray;
	padding: 15px 25px;
	background: #ef0f0f;
	color: #fff;
	text-decoration: none;
}
.right-section div.box{
	float: right;
}
.right-section div.box-x{
	padding-top: 21px;
    margin-bottom: 18px;
    margin-right: 0px;
}
h2{
	margin-bottom: 20px;
	font-size: 20px;
	color:  #ef0f0f;;
	font-family: Georgia,"Times New Roman",Times,serif;
	letter-spacing: .6px;
	text-transform: uppercase;
}
/*
=======================
section-nulla
=======================
*/
.purus{
	width: 100%;
	background-image: url(../image/sky.jpg);
	background-color: gray;
	background-size: 100% 100%;
	color: whitesmoke;
}
.nulla{
	width: 50%;
	padding-bottom: 20px;
	padding-left: 30px;
	background-color: rgba(255,255,255,.8);
	
}
.nulla h3{

	font-size: 22px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-left: 50px;
    color: #000;
    letter-spacing: .6px;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia,"Times New Roman",Times,serif;
    text-transform: uppercase;
}
.nulla p.nulla-exp{
	margin-bottom: 40px;
	padding-left: 50px;
	font: 16px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: .5px;
	color: gray;
}
.exp-content{
	padding-left: 70px;
    margin-bottom: 40px;
    margin-top: -50px;
}
.nulla i.fa{
	border: 1px solid orange;
	padding: 15px;
	color: orange;
}
.exp-content p{
	margin-bottom: 40px;
	font:  16px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: .5px;
	color:gray;
}

.exp-content a.detail{
	color: red;
	text-transform: uppercase;
	padding: 15px;
	margin-bottom: 50px;
	text-decoration: none;
}
.exp-content h2{
	color: #000;
}